{% extends "blog/blog_detail_page.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
    {% image self.banner_image fill-1200x300 as banner %}

    <img src="{{ banner.url }}" alt="{{ banner.alt }}" style="width: 100%; height: auto;">
    <div class="container mt-5 mb-5">
        <h1>
            {% if self.custom_title %}
                {{ self.custom_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        </h1>
    </div>
    <ul class="list-group list-group-flush">
        {% for iter in self.blog_author.all %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <p style="font-size: 1.5rem;">{{ iter.author.name }}</p>
                        {% if iter.author.website %}
                            <a href="{{ iter.author.website }}" target="_blank" style="color: deepskyblue;">{{ iter.author.website }}</a>
                        {% endif %}
                    </div>
                    <div class="col-sm-8">
                        {% image iter.author.image fill-100x100 as author_image %}
                        <img src="{{ author_image.url }}" alt="{{ iter.author.name }}" class="img-circle">
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/{{ self.youtube_video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr/>
                {% for block in page.content %}
                    {% include_block block %}
                {% endfor %}
            </div>
            <br/>
            {% if page.tags.count %}
                {% for tag in page.tags.all %}
                    <a href="/blog/?tag={{ tag.slug }}" class="btn btn-sm btn-info" style="margin: 2px">{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
