{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}


{% block content %}
    <div class="container py-4">
        <h1>Latest Post</h1><hr/>
        {% for post in posts %}
        <div class="row">
            <div class="col-sm-4">
                {% image post.blog_image fill-200x200 as blog_img %}
                <a href="{{ post.url }}">
                    <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}" class="img img-thumbnail">
                </a>
            </div>
            <div class="col-sm-8">
                <a href="{{ post.url }}" class="h2" style="text-decoration: none;">
                    <h2>{{ post.custom_title }}</h2>
                </a>
                <a href="{{ post.url }}" class="btn btn-primary">Read</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
