{% extends 'base.html' %}
{% load static wagtailcore_tags %}


{% block content %}
<style>
    .contact-form {
        list-style-type: none;
        padding-left: 0;
    }

    .contact-form li {
        margin-bottom: 1.5rem;
    }

    .contact-form label {
        display: block;
        font-weight: bold;
    }

    .contact-form .helptext {
        display: block;
        font-size: 80%;
    }

    #id_name {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    #id_email {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    #id_message {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .contact{
        padding-top: 4rem;
    }
    .contact-image{
        width: 30rem;
        padding: 1rem;
    }

</style>

<div class="container py-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 100%;">
        <div class="card-header">{{ page.title }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p class="card-title">{{ self.intro }}</p>
                    <form action="{% pageurl page %}" method="POST">{% csrf_token %}
                        <ul class="contact-form">
                            {{ form.as_ul }}
                        </ul>
                        <button type="submit" class="btn btn-success"> Submit Form</button>
                    </form>
                </div>
                <div class="col">
                    <div class="contact">
                        <img src="{% static 'image/contact.png' %}" class="img img-responsive img-thumbnail contact-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
